<main class="page-content">
    <div class="container-fluid default-bar">
      <h2>What is the difference between a module's forRoot() and forChild() methods and why do you need it?</h2>
      <a href="https://stackoverflow.com/questions/40498081/routermodule-forrootroutes-vs-routermodule-forchildroutes" target="_blank">I read this article in stack-overflow here</a>
      <a href="https://indepth.dev/avoiding-common-confusions-with-modules-in-angular/" target="_blank">I read this article here</a>
     
      <hr>
    </div>
</main>