<main class="page-content">
    <div class="container-fluid default-bar">
      <h2>Subscribe</h2>
      <hr>
      <div class="row">
        <div class="form-group col-md-12">
          <p>A Subscription is an object that represents a disposable resource, usually the execution of an Observable. A Subscription has one important method, unsubscribe, that takes no argument and just disposes the resource held by the subscription. In previous versions of RxJS, Subscription was called "Disposable".</p>
          <a href="https://stackblitz.com/edit/typescript-nwya37">Hands-on link</a>
          <h3 class="mt-4">Usefull links:</h3>
          <hr>
          <ul>
              <li><a href="https://rxjs-dev.firebaseapp.com/guide/subscription" target="_blank">rxjs-link</a></li>
              <li><a href="http://reactivex.io/documentation/operators/subscribe.html" target="_blank">ReactiveX</a></li>
          </ul>
        </div>
      </div>
    </div>
</main>