<main class="page-content">
    <div class="container-fluid default-bar">
      <h2>Observable</h2>
      <hr>
      <div class="row">
        
        <div class="form-group col-md-12">
          <p>An Observable is a Producer of multiple values, "pushing" them to Observers (Consumers). A Function is a lazily evaluated computation that synchronously returns a single value on invocation.</p>
          <a href="https://stackblitz.com/edit/typescript-nwya37">Hands-on link</a>
          <h3 class="mt-4">Usefull links:</h3>
          <hr>
          <ul>
              <li><a href="https://rxjs-dev.firebaseapp.com/guide/observable" target="_blank">rxjs-link</a></li>
              <li><a href="https://angular.io/guide/rx-library" target="_blank">angular.io</a></li>
          </ul>
        </div>
      </div>
    </div>
</main>