<main class="page-content">
  <div class="container-fluid default-bar">
    <h2>example of data-structures in angular? what are their practical usage? please provide examples</h2>
    <hr>

    <p>
      Angular is a platform or framework to build client-based applications in HTML and TypeScript. It is written in
      TypeScript. It implements core and optional functionality as a set of TypeScript libraries that are imported into
      applications. Angular consists of Three main things that are Modules, Components, and Routing.


    </p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/PU8elZkiD-c" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    <h3 class="mt-4">Usefull links:</h3>
    <hr>
    <ul>
      <li><a href="https://www.geeksforgeeks.org/angular-7-architecture/"
          target="_blank">geeksforgeeks</a></li>
      <li><a href="https://blog.angular-university.io/angular-2-what-is-unidirectional-data-flow-development-mode/"
          target="_blank">angular-university</a></li>
    </ul>

  </div>
</main>