<main class="page-content">
    <div class="container-fluid default-bar">
      <h2>Object Manipulation</h2>
      <hr>
      <div class="row">
        <div class="form-group col-md-12">
          <p>Please check <a [routerLink]="['/topics','differentref']">this</a></p>
          <h3 class="mt-4">Usefull links:</h3>
          <hr>
          <ul>
              <li><a href="https://medium.com/@sardanalokesh/understanding-dom-manipulation-in-angular-2b0016a4ee5d" target="_blank">medium</a></li>
          </ul>
        </div>
      </div>
    </div>
</main>