<main class="page-content">
    <div class="container-fluid default-bar">
      <h2>Intercept Input</h2>
      
      <h3 class="mt-4">Usefull links:</h3>
      <hr>
      <ul>
          <li><a href="https://stackoverflow.com/questions/38571812/how-to-detect-when-an-input-value-changes-in-angular" target="_blank">stackoverflow</a></li>
          <li><a href="https://stackoverflow.com/questions/37404107/how-to-know-which-input-changes-in-ngonchanges" target="_blank">stackoverflow2</a></li>
          <li><a href="https://medium.com/@bharat.tiwari/intercept-input-property-change-in-angular-690567eb63ec" target="_blank">meduim</a></li>
         
          
      </ul>
    </div>
</main>