<main class="page-content">
    <div class="container-fluid default-bar">
      <h2>what is hoisting and scopes in JS? what are their practical usage? please provide examples</h2>
      <hr>

      <p>
        Hoisting is a JavaScript mechanism where variables and function declarations are moved to the top of their scope before code execution.
      </p>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/HOIu3owCcZs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/frlNktl604k" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

      <h3 class="mt-4">Usefull links:</h3>
      <hr>
      <ul>
          <li><a href="https://scotch.io/tutorials/understanding-hoisting-in-javascript#:~:text=Hoisting%20is%20a%20JavaScript%20mechanism,scope%20is%20global%20or%20local." target="_blank">scotch.io</a></li>
          <li><a href="https://developer.mozilla.org/en-US/docs/Glossary/Hoisting" target="_blank">developer.mozilla</a></li>
      </ul>

    </div>
</main>