<div class="page-wrapper chiller-theme toggled">
    <a id="show-sidebar" class="btn btn-sm btn-dark">
      <i class="fas fa-bars"></i>
    </a>
    <nav id="sidebar" class="sidebar-wrapper">
      <div class="sidebar-content">
        <div class="sidebar-brand">
          <a>Topics list</a>
          <div id="close-sidebar">
            <i class="fas fa-times"></i>
          </div>
        </div>
        <div class="sidebar-search">
          <div>
            <div class="input-group">
              <input type="text" class="form-control search-menu" placeholder="Search...">
              <div class="input-group-append">
                <span class="input-group-text">
                  <i class="fa fa-search" aria-hidden="true"></i>
                </span>
              </div>
            </div>
          </div>
        </div>
        <!-- sidebar-search  -->
        <div class="sidebar-menu">
          <ul>
            <li class="sidebar-dropdown">
              <a>
                <i class="fa fa-angle-double-right"></i>
                <span>RXJS</span>
              </a>
              <div class="sidebar-submenu">
                <ul>
                  <li>
                    <a [routerLink]="['topics/pluck']" data-filter-item data-filter-name="pluck">Pluck</a>
                  </li>
                  <li>
                    <a [routerLink]="['topics/observable']" data-filter-item data-filter-name="observable">Observable</a>
                  </li>
                  <li>
                    <a [routerLink]="['topics/subscribe']" data-filter-item data-filter-name="subscribe">Subscribe</a>
                  </li>
                </ul>
              </div>
            </li>

            <li class="sidebar-dropdown">
              <a>
                <i class="fa fa-angle-double-right"></i>
                <span>Angular</span>
              </a>
              <div class="sidebar-submenu">
                <ul>
                  <li>
                    <a [routerLink]="['topics/ovservable-vs-promise']" data-filter-item data-filter-name="pluck">Observable vs Promise</a>
                  </li>
                  <li>
                    <a [routerLink]="['topics/objectmanipulation']" data-filter-item data-filter-name="pluck">Object-Manipulation</a>
                  </li>
                  <li>
                    <a [routerLink]="['topics/defer']" data-filter-item data-filter-name="pluck">Defer</a>
                  </li>
                  <li>
                    <a [routerLink]="['topics/fromevent']" data-filter-item data-filter-name="pluck">FromEvent</a>
                  </li>
                  <li>
                    <a [routerLink]="['topics/exhaustmap']" data-filter-item data-filter-name="pluck">ExhaustMap</a>
                  </li>
                  <li>
                    <a [routerLink]="['topics/observeon']" data-filter-item data-filter-name="pluck">Observeon</a>
                  </li>
                  <li>
                    <a [routerLink]="['topics/constuctorvsngonit']" data-filter-item data-filter-name="pluck">Constuctorvsngonit</a>
                  </li>
                  <li>
                    <a [routerLink]="['topics/differentref']" data-filter-item data-filter-name="pluck">DifferentRef</a>
                  </li>
                  <li>
                    <a [routerLink]="['topics/paramsswitchmap']" data-filter-item data-filter-name="pluck">Different Switch Map</a>
                  </li>
                  <li>
                    <a [routerLink]="['topics/directives']" data-filter-item data-filter-name="pluck">Angular-Directives</a>
                  </li>
                  <li>
                    <a [routerLink]="['topics/changedetection']" data-filter-item data-filter-name="pluck">Angular-ChangeDetection-Strategey</a>
                  </li>
                  <li>
                    <a [routerLink]="['topics/encapsulation']" data-filter-item data-filter-name="pluck">Angular-Encapsulations</a>
                  </li>
                  <li>
                    <a [routerLink]="['topics/resolver']" data-filter-item data-filter-name="pluck">Resolver-Angular</a>
                  </li>
                  <li>
                    <a [routerLink]="['topics/componentfactory']" data-filter-item data-filter-name="pluck">Component-Factory-Angular</a>
                  </li>
                  <li>
                    <a [routerLink]="['topics/dynamic']" data-filter-item data-filter-name="pluck">DynamicComponent-Angular</a>
                  </li>
                  <li>
                    <a [routerLink]="['topics/parentchild']" data-filter-item data-filter-name="pluck">Parent-ChildCommuncation</a>
                  </li>
                  <li>
                    <a [routerLink]="['topics/childparent']" data-filter-item data-filter-name="pluck">Child-ParentCommunication</a>
                  </li>
                  <li>
                    <a [routerLink]="['topics/subjecthttp']" data-filter-item data-filter-name="pluck">UseofSubjectinHttpService</a>
                  </li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
        <!-- sidebar-menu  -->
      </div>
    </nav>
    <router-outlet></router-outlet>
</div>