<div class="page-wrapper chiller-theme toggled">
    <a id="show-sidebar" class="btn btn-sm btn-dark">
      <i class="fas fa-bars"></i>
    </a>
    <nav id="sidebar" class="sidebar-wrapper">
      <div class="sidebar-content">
        <div class="sidebar-brand">
          <a>Topics list</a>
          <div id="close-sidebar">
            <i class="fas fa-times"></i>
          </div>
        </div>
        <div class="sidebar-search">
          <div>
            <div class="input-group">
              <input type="text" class="form-control search-menu" placeholder="Search...">
              <div class="input-group-append">
                <span class="input-group-text">
                  <i class="fa fa-search" aria-hidden="true"></i>
                </span>
              </div>
            </div>
          </div>
        </div>
        <!-- sidebar-search  -->
        <div class="sidebar-menu">
          <ul>
            <li class="sidebar-dropdown">
              <a>
                <i class="fa fa-angle-double-right"></i>
                <span>RXJS</span>
              </a>
              <div class="sidebar-submenu">
                <ul>
                  <li>
                    <a [routerLink]="['topics/pluck']" data-filter-item data-filter-name="pluck">Pluck</a>
                  </li>
                  <li>
                    <a [routerLink]="['topics/observable']" data-filter-item data-filter-name="observable">Observable</a>
                  </li>
                  <li>
                    <a [routerLink]="['topics/subscribe']" data-filter-item data-filter-name="subscribe">Subscribe</a>
                  </li>
                  <li>
                    <a [routerLink]="['topics/asyncpipe']" data-filter-item data-filter-name="subscribe">AsyncPipe</a>
                  </li>
                </ul>
              </div>
            </li>

            <li class="sidebar-dropdown">
              <a>
                <i class="fa fa-angle-double-right"></i>
                <span>Angular</span>
              </a>
              <div class="sidebar-submenu">
                <ul>
                  <li>
                    <a [routerLink]="['topics/ovservable-vs-promise']" data-filter-item data-filter-name="observable vs promise">Observable vs Promise</a>
                  </li>
                  <li>
                    <a [routerLink]="['topics/objectmanipulation']" data-filter-item data-filter-name="object manipulation">Object-Manipulation</a>
                  </li>
                  <li>
                    <a [routerLink]="['topics/defer']" data-filter-item data-filter-name="defer">Defer</a>
                  </li>
                  <li>
                    <a [routerLink]="['topics/fromevent']" data-filter-item data-filter-name="from event">FromEvent</a>
                  </li>
                  <li>
                    <a [routerLink]="['topics/exhaustmap']" data-filter-item data-filter-name="exhaust map">ExhaustMap</a>
                  </li>
                  <li>
                    <a [routerLink]="['topics/observeon']" data-filter-item data-filter-name="Observeon">Observeon</a>
                  </li>
                  <li>
                    <a [routerLink]="['topics/constuctorvsngonit']" data-filter-item data-filter-name="constuctor vs ngonit">Constuctorvsngonit</a>
                  </li>
                  <li>
                    <a [routerLink]="['topics/differentref']" data-filter-item data-filter-name="different ref">DifferentRef</a>
                  </li>
                  <li>
                    <a [routerLink]="['topics/paramsswitchmap']" data-filter-item data-filter-name="different switch map">Different Switch Map</a>
                  </li>
                  <li>
                    <a [routerLink]="['topics/directives']" data-filter-item data-filter-name="angular directives">Angular-Directives</a>
                  </li>
                  <li>
                    <a [routerLink]="['topics/changedetection']" data-filter-item data-filter-name="angular change detection strategey">Angular-ChangeDetection-Strategey</a>
                  </li>
                  <li>
                    <a [routerLink]="['topics/encapsulation']" data-filter-item data-filter-name="angular encapsulations">Angular-Encapsulations</a>
                  </li>
                  <li>
                    <a [routerLink]="['topics/resolver']" data-filter-item data-filter-name="resolver angular">Resolver-Angular</a>
                  </li>
                  <li>
                    <a [routerLink]="['topics/componentfactory']" data-filter-item data-filter-name="component factory angular">Component-Factory-Angular</a>
                  </li>
                  <li>
                    <a [routerLink]="['topics/dynamic']" data-filter-item data-filter-name="dynamic component angular">DynamicComponent-Angular</a>
                  </li>
                  <li>
                    <a [routerLink]="['topics/parentchild']" data-filter-item data-filter-name="parent-child communcation">Parent-ChildCommuncation</a>
                  </li>
                  <li>
                    <a [routerLink]="['topics/childparent']" data-filter-item data-filter-name="child-parent communication">Child-ParentCommunication</a>
                  </li>
                  <li>
                    <a [routerLink]="['topics/interceptinput']" data-filter-item data-filter-name="interceptinput">How to Intercept Input</a>
                  </li>
                  <li>
                    <a [routerLink]="['topics/subjecthttp']" data-filter-item data-filter-name="use of subject in http service">UseofSubjectinHttpService</a>
                  </li>
                  <li>
                    <a [routerLink]="['topics/shadowdom']" data-filter-item data-filter-name="shadowdom in angular">shadow dom</a>
                  </li>
                  <li>
                    <a [routerLink]="['topics/angularpipes']" data-filter-item data-filter-name="Common Pipes in angular">Common Pipes in angular</a>
                  </li>
                  <li>
                    <a [routerLink]="['topics/ayncwait']" data-filter-item data-filter-name="Async/await">Async/await</a>
                  </li>
                  <li>
                    <a [routerLink]="['topics/closure']" data-filter-item data-filter-name="Async/await">Closure</a>
                  </li>
                  <li>
                    <a [routerLink]="['topics/currying']" data-filter-item data-filter-name="Currying">Currying</a>
                  </li>
                  <li>
                    <a [routerLink]="['topics/decorators']" data-filter-item data-filter-name="decorators">decorators</a>
                  </li>
                  <li>
                    <a [routerLink]="['topics/deepclone']" data-filter-item data-filter-name="immuatble">Immutable angular</a>
                  </li>
                  <li>
                    <a [routerLink]="['topics/dependecyinjection']" data-filter-item data-filter-name="dependecyinjection">dependecyinjection</a>
                  </li>
                  <li>
                    <a class="unfinished"[routerLink]="['topics/problems']" data-filter-item data-filter-name="problems">problems</a>
                  </li>
                  <li>
                    <a [routerLink]="['topics/differentwaystopassinput']" data-filter-item data-filter-name="differentwaystopassinput">differentwaystopassinput</a>
                  </li>
                  <li>
                    <a [routerLink]="['topics/dynamicformvalidation']" data-filter-item data-filter-name="dynamicformvalidation">dynamicformvalidation</a>
                  </li>
                  <li>
                    <a [routerLink]="['topics/emitters']" data-filter-item data-filter-name="emitters">emitters</a>
                  </li>
                  <li>
                    <a [routerLink]="['topics/eventcoalesing']" data-filter-item data-filter-name="eventcoalesing">eventcoalesing</a>
                  </li>
                  <li>
                    <a  [routerLink]="['topics/formarray']" data-filter-item data-filter-name="formarray">formarray</a>
                  </li>
                  <li>
                    <a class="unfinished" [routerLink]="['topics/generics']" data-filter-item data-filter-name="generics">generics</a>
                  </li>
                  <li>
                    <a class="unfinished" [routerLink]="['topics/injectors']" data-filter-item data-filter-name="injectors">injectors</a>
                  </li>
                  <li>
                    <a class="unfinished"[routerLink]="['topics/lifecyclehooks']" data-filter-item data-filter-name="lifecyclehooks">lifecyclehooks</a>
                  </li>
                  <li>
                    <a class="unfinished"[routerLink]="['topics/mapreducefiler']" data-filter-item data-filter-name="mapreducefiler">mapreducefiler</a>
                  </li>
                  <li>
                    <a class="unfinished"[routerLink]="['topics/ngrxstore']" data-filter-item data-filter-name="ngrxstore">ngrxstore</a>
                  </li>
                  <li>
                    <a class="unfinished" [routerLink]="['topics/repeat']" data-filter-item data-filter-name="repeat">repeat</a>
                  </li>
                  <li>
                    <a class="unfinished" [routerLink]="['topics/thrrotlejoin']" data-filter-item data-filter-name="thrrotlejoin">thrrotlejoin</a>
                  </li>
                  <li>
                    <a class="unfinished"[routerLink]="['topics/singletonpattern']" data-filter-item data-filter-name="singletonpattern">singletonpattern</a>
                  </li>
                  <li>
                    <a class="unfinished"[routerLink]="['topics/some']" data-filter-item data-filter-name="some">some</a>
                  </li>
                  <li>
                    <a class="unfinished"[routerLink]="['topics/subjects']" data-filter-item data-filter-name="subjects">subjects</a>
                  </li>
                  <li>
                    <a  class="unfinished"[routerLink]="['topics/websockets']" data-filter-item data-filter-name="websockets">websockets</a>
                  </li>   
                  <li>
                    <a  class="unfinished"[routerLink]="['topics/observerpattern']" data-filter-item data-filter-name="observerpattern">observerpattern</a>
                  </li>    
                  <li>
                    <a  class="unfinished"[routerLink]="['topics/facadepattern']" data-filter-item data-filter-name="facadepattern">facadepattern</a>
                  </li>  
                  <li>
                    <a  class="unfinished"[routerLink]="['topics/routerevents']" data-filter-item data-filter-name="routerevents">routerevents</a>
                  </li>       
                  <li>
                    <a  class="unfinished"[routerLink]="['topics/arraymanipulation']" data-filter-item data-filter-name="arraymanipulation">arraymanipulation</a>
                  </li>  
                  <li>
                    <a  class="unfinished"[routerLink]="['topics/goodpractices']" data-filter-item data-filter-name="goodpractices">goodpractices</a>
                  </li>               
                </ul>
              </div>
            </li>
          </ul>
        </div>
        <!-- sidebar-menu  -->
      </div>
    </nav>
    <router-outlet></router-outlet>
</div>