<main class="page-content">
    <div class="container-fluid default-bar">
      <h2>Pluck</h2>
      <hr>
      <div class="row">
        
        <div class="form-group col-md-12">
          <p>Maps each source value (an object) to its specified nested property. 
            Pluck accepts an unlimited number of nested property parameters and returns a new Observable sequence of property values..</p>
          <a href="https://stackblitz.com/edit/typescript-nwya37">Hands-on link</a>
          <h3 class="mt-4">Usefull links:</h3>
          <hr>
          <ul>
              <li><a href="https://rxjs-dev.firebaseapp.com/api/operators/pluck" target="_blank">rxjs-link</a></li>
              <li><a href="https://medium.com/javascript-everyday/rxjs-map-vs-pluck-operators-9124942d610f" target="_blank">medium</a></li>
          </ul>
        </div>
      </div>
    </div>
</main>