<main class="page-content">
    <div class="container-fluid default-bar">
      <h4>What is Async Pipe in Angular/ Why we use this instead of Subscribe? <br>How to use that? How to unsubscribe it? <br>how to handle it and how to handle in component?<br> What is Practical Use of it?<br> Please Provide Examples</h4>
      <h4>What is Combinelatest ? What is Practical Use of it? Please Provide Examples</h4>
      
      <a href="https://medium.com/better-programming/let-angular-manage-your-rxjs-subscriptions-better-9243073e94b0" target="_blank">I read this article here</a>
      <h4></h4>
      <hr>
    </div>
</main>