<main class="page-content">
    <div class="container-fluid default-bar">
      <h2>what are best way to handle secuirty in angular</h2>
      <a href="https://medium.com/@swarnakishore/angular-safe-pipe-implementation-to-bypass-domsanitizer-stripping-out-content-c1bf0f1cc36b" target="_blank">I read this article here</a>
      
      <a href="https://medium.com/javascript-in-plain-english/angular-security-best-practices-54fadf8974a1" target="_blank">I read this article here 2 </a>

      <a href="https://medium.com/grapecity/a-guide-to-angular-security-and-authentication-with-json-web-tokens-42789f1de1e0" target="_blank">I read this article here 3 </a>
      
      <a href="https://medium.com/syncfusion/top-5-best-practices-for-angular-app-security-1ec71e52e550" target="_blank">I read this article here 4</a>
      <hr>
    </div>
</main>