
<main class="page-content">
    <div class="container-fluid default-bar">
      <h2>How to cache the result of an HTTP request with Angular?? what are their practical usage? please provide examples</h2>
      <a href="https://medium.com/better-programming/how-to-create-a-caching-service-for-angular-bfad6cbe82b0" target="_blank">I read this article about shareReplay() here</a>
      <a href="https://medium.com/angular-in-depth/fastest-way-to-cache-for-lazy-developers-angular-with-rxjs-444a198ed6a6" target="_blank">I read this article about publishReplya() and refCount() here</a>
      <hr>

      <p>
        Caching is a very handy feature to reduce the server-side network traffic. Caching is a temporary storage and can reduce the server requests by saving and retrieving the data in client-side itself. Hence, we will get more performance in client application.
      </p>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/0CXNo54vXFE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/Yf1FfhMetjs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <h3 class="mt-4">Hands-on link:</h3>
          <hr>
          <a href="https://stackblitz.com/edit/angular-cache" target="_blank">stackblitz</a><br />
          <a href="https://stackblitz.com/edit/angular-advanced-caching" target="_blank">stackblitz</a>
      <h3 class="mt-4">Usefull links:</h3>
      <hr>
      <ul>
          <li><a href="https://www.c-sharpcorner.com/article/client-side-caching-in-angular-8-using-http-interceptor/" target="_blank">c-sharpcorner</a></li>
          <li><a href="https://medium.com/better-programming/how-to-create-a-caching-service-for-angular-bfad6cbe82b0" target="_blank">medium</a></li>
      </ul>


    </div>
</main>