
<main class="page-content">
    <div class="container-fluid default-bar">
      <h2>How to cache the result of an HTTP request with Angular?? what are their practical usage? please provide examples</h2>
      <a href="https://medium.com/better-programming/how-to-create-a-caching-service-for-angular-bfad6cbe82b0" target="_blank">I read this article about shareReplay() here</a>
      <a href="https://medium.com/angular-in-depth/fastest-way-to-cache-for-lazy-developers-angular-with-rxjs-444a198ed6a6" target="_blank">I read this article about publishReplya() and refCount() here</a>
      <hr>
    </div>
</main>